DB_PASSWORD=
REDIS_PASSWORD=
SITE_URL=https://elytrix.pw
ANYPAY_MERCHANT_ID=18112
ANYPAY_PROJECT_SECRET=
ANYPAY_API_ID=
ANYPAY_API_KEY=
ANYPAY_API_URL=https://anypay.io/api
PLUGIN_URL=http://host.docker.internal:20559
PLUGIN_SECRET=
COINS_RATE=5
COINS_COMMAND_TEMPLATE=coins give %player% %coins%
